.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    h3{
        font-size: 16px;
        margin: 0;
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    }
    ul{
        list-style: none;
        margin-left: 0;
        padding: 3px;
        display: flex;
        flex-direction: column;
        li{
            cursor: pointer;
            position : relative;
            line-height: 1.5rem;
            font-size: 12px;
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: -1rem;
                width: 0.25rem;
                height: 100%;
                background: #a4f08f;
                transition: 0.6s;
            }
            &:hover{
                text-shadow: 5px 7px 7px rgb(0, 225, 255);
                background-size: 100%;
                color: rgb(124, 229, 243);
                &::before {
                    left: calc(100% + 1rem);
                }
            }
        }
    }
}

.hidden{
    display: none;
}