.sidebar{
    border: 1px solid rgb(2, 181, 2);
    position: fixed;
    height: 70vh;
    display: flex;
    flex-direction: column;
    h3{
        font-size: 16px;
    }
    ul{
        list-style: none;
        margin-left: 0;
        padding: 7px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        &.patches-list{
            max-height: 80%;
            overflow-y: auto;
        }
        li{
            cursor: pointer;
            &:hover{
                text-shadow: 2px 0px 2px rgba(248, 248, 248, 0.871);
            }
        }
    }
}

.hidden{
    display: none;
}