.synthstrument-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    // max-width: 1500px;
    // border: 2px solid orange;
}

.synthstrument {
    // border: solid 2px fuchsia;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // position: 
    z-index: 1;
    // margin-bottom: 10px;
    padding-bottom: 20px;
    // top: -100px;
    // left: 100px;
    max-width: 70vw;
    height: 70vh;
    // margin-top: 7rem;
    // max-width: 1500px;
    .main-controls{
        display: flex;
    }
    .patch-interface{
        display: flex;
        flex-direction: column;
        width: 150px;
        border: 1px solid fuchsia;
        .hidden{
            display: none;
        }
    }
    .power-button.on {
        font-weight: bold;
        background-image: radial-gradient(rgb(177, 245, 138), rgb(107, 233, 34), rgb(88, 186, 31));
        color: white;
        text-shadow: 0px 0px 2px rgb(227, 251, 215);
        font-size: 20px;
    }
    .power-button.off {
        background-image: radial-gradient(rgb(138, 194, 105), rgb(95, 191, 40), rgb(67, 152, 17));
        color: rgb(231, 231, 231);
        font-size: 20px;
    }
    .oscillators-bar{
        border: 1px solid aqua;
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        .osc-box{
            border: 1px solid thistle;
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .oscillator{
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                height: 100%;
            }
            .env-controls{
                font-size: small;
                display: flex;
                flex-direction: column;
                // flex-wrap: wrap;
                align-items: center;
                border: 1px solid hotpink;
                height: 100%;
            }
            .octave-shift {
                display: flex;
                flex-direction: column;
                border: 1px solid limegreen;
                height: 100%;
            }
        }
        .post-FX{
            width: 100%;
            height: 75%;
            border: 1px solid yellow;
            display: flex;
            font-size: small;
            .eq3{
                display: flex;
                justify-content: space-evenly;
                border: 1px solid red;
                width: 20%;
                height: 100%;
                label{
                    align-self: flex-end;
                    height: 100%;
                    max-width: 30px;
                }
                input{
                    -webkit-appearance: slider-vertical;
                    height: 80%;
                    width: 10px;
                }
            }
            .fx-bank{
                border: 1px solid rgb(255, 49, 238);
                width: 80%;
                display: flex;
                font-size: 10px;
                .invisible{
                    display: none;
                }
                .mods{
                    display: flex;
                    flex-direction: column;
                    border: 1px solid rgb(122, 208, 255);
                    width: 33.3%;
                    .chorus{
                        border: 1px solid rgba(142, 142, 142, 0.149);
                        border-bottom: none;
                        height: 50%;
                    }
                    .tremolo{
                        border: 1px solid rgba(164, 164, 164, 0.299);
                    }
                    .switch{
                        appearance: none;
                        box-shadow: inset 1px -1px 1px rgb(162, 105, 0);
                        background-image: radial-gradient(rgb(253, 215, 165), rgb(251, 185, 98), rgb(186, 106, 3));
                        width: 45px;
                        height: 20px;
                        margin: auto;
                        position: relative;
                        top: 6px;
                        margin-left: 10px;
                        &.off{
                            background-image: radial-gradient(rgb(221, 127, 3), rgb(197, 113, 2), rgb(142, 81, 1));
                        }
                    }
                }
                .harmonics{
                    display: flex;
                    border: 1px solid rgb(122, 208, 255);
                    width: 33.3%;
                    .switch{
                        appearance: none;
                        box-shadow: inset 1px -1px 1px rgba(0, 20, 56, 0.578);
                        background-image: radial-gradient(rgb(162, 211, 253), rgb(115, 150, 255), rgb(38, 90, 194));
                        width: 45px;
                        height: 20px;
                        margin: auto;
                        position: relative;
                        top: 3px;
                        margin-left: 10px;
                        &.off{
                            background-image: radial-gradient(rgb(62, 110, 206), rgb(44, 96, 199), rgb(28, 73, 162));
                        }
                    }
                }
                .delays{
                    display: flex;
                    border: 1px solid rgb(122, 208, 255);
                    width: 33.3%;
                    .switch{
                        appearance: none;
                        box-shadow: inset 1px -1px 1px rgb(122, 11, 11);
                        background-image: radial-gradient(rgb(250, 182, 182), rgb(251, 118, 118), rgb(194, 32, 32));
                        width: 45px;
                        height: 20px;
                        margin: auto;
                        position: relative;
                        top: 3px;
                        left: 15px;
                        margin-left: 10px;
                        &.off{
                            background-image: radial-gradient(rgb(204, 68, 68), rgb(186, 63, 63), rgb(148, 21, 21));
                        }
                    }
                }
                .off{
                    .delay, .LFO, .chorus-depth, .frequency, .trem-depth,
                    .delay-time, .feedback, .wet-dry, .distortion, .crusher-wet, .bit-depth{
                        filter: grayscale(100%);
                        transition: filter .7s;
                    }
                }
            }
        }
    }
    .keys-bar{
        width: 100%;
        border: 1px solid blueviolet;
        display: flex;        
        ol{
            // border: 1px solid rgb(105, 255, 105);
            background-color: rgba(165, 165, 165, 0.122);
            border-radius: 3px;
            margin-left: 15px;
            padding: 7px;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            height: 100px;
            li {
                border: 1px solid orange;
                width: 50px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                p{
                    font-size: 12px;
                    background-color: inherit;
                }
                &.active{
                    background-color: paleturquoise;
                    transition: background-color .1s;
                }
            }
        }
        .volume{
            display: flex;
            flex-direction: column;
            font-size: 10px;
            input{
                -webkit-appearance: slider-vertical;
                height: 70px;
            }
        }
    }
}

.sample {
    display: flex;
    flex-direction: column;
    .rec-img {
        width: 50px;
        background: none;
    }
    audio {
        max-width: 100px;
    }
    a {
        font-size: 15px;
    }
    .download {
        display: flex;
    }
    .edit-btns {
        display: flex;
    }
    .start-record-btn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 40px;
    }
    // .stop-record-btn {
    //     background: none;
    //     border: none;
    // }
    .stop-record-btn {
        animation: glow 2s ease-in-out infinite alternate;
        background: transparent;
        border-radius: 100px;
        border: transparent;
        width: auto;
    }

    @keyframes glow {
	0% {
		box-shadow: 0 0 rgba(#ff00b3, 0.75);
        // border-radius: 100px;
	}
	100% {
		box-shadow: 0 1px 10px 20px transparent;
		// border-width: 2px;
        // border-radius: 100px;
	}
}
}

.main-synth-box {
    // border: 10px solid blue;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}