.synthstrument-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    // max-width: 1500px;
    // border: 2px solid orange;
}

.synthstrument { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    z-index: 1;
    padding-bottom: 20px;
    margin-top: 10px;
    margin: auto;
    background: transparent;
    height: 70vh;
    padding-left: 50px;

    .synth-toolbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border: 2px solid rgb(72, 72, 72);
        border-bottom: 1px solid rgb(72, 72, 72);
        border-right: 1px solid rgb(72, 72, 72);
        border-radius: 5px;
        padding: 7px;
        margin: 5px;
        height: 35px;
        max-width: 75vw;
        margin-top: 15px;
        // align-content: baseline;
        .patch-interface{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 60%;
            button {
                font-size: 12px;
                margin: 5px;
                &#new-patch-toggle{
                    background-image: radial-gradient(rgb(151, 241, 99), rgb(95, 206, 31), rgb(65, 145, 18));
                    color: white;
                    cursor: pointer;
                }
                &#save-patch, &#update-patch{
                    background-image: radial-gradient(rgb(176, 218, 255), rgb(130, 161, 255), rgb(38, 90, 194));
                    color: white;
                    cursor: pointer;
                }
                &#delete-patch{
                    background-image: radial-gradient(rgb(250, 182, 182), rgb(255, 130, 130), rgb(201, 52, 52));
                    color:white;
                    cursor: pointer;
                }
            }
            #current-patch-display {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                height: 100%;
                text-align: left;
                width: 25%;
                #current-patch-title{
                    align-self: flex-start;
                }
            }
            .hidden{
                display: none;
            }
        }
        .power-button.on {
            font-weight: bold;
            background-image: radial-gradient(rgb(177, 245, 138), rgb(107, 233, 34), rgb(88, 186, 31));
            color: white;
            text-shadow: 0px 0px 2px rgb(227, 251, 215);
            font-size: 20px;
            width: 100px;
            border-radius: 3px;
            cursor: pointer;
        }
        .power-button.off {
            background-image: radial-gradient(rgb(138, 194, 105), rgb(95, 191, 40), rgb(67, 152, 17));
            color: rgb(231, 231, 231);
            font-size: 20px;
            width: 100px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
    .main-controls{
        display: flex;
    }
    .oscillators-bar{
        border: 1px solid rgb(177, 177, 177);
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        padding-right: 10px;
        width: 100%;
        max-width: 75vw;
        display: flex;
        flex-direction: column;
        .osc-box{
            border-bottom: 1px solid rgb(72, 72, 72);
            padding-bottom: 10px;
            padding-top: 5px;
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .oscillator{
                display: flex;
                flex-direction: column;
                height: 100%;
                margin: 5px;
                select {
                    cursor: pointer;
                }
                label{
                    font-size: 14px;
                    margin: 5px;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .env-controls{
                font-size: small;
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: 1px solid hotpink;
                margin: 5px;
                height: 100%;
                label{
                    display: flex;
                    font-size: 12px;
                    justify-content: space-between;
                }
                input[type="range"]{
                    &::-webkit-slider-runnable-track{
                        background: rgba(187, 187, 187, 0.136);
                        border: 1px solid rgb(157, 157, 157);
                        box-shadow: inset 1px 1px 0 rgb(142, 142, 142);
                    }
                    &::-webkit-slider-thumb{
                        background-image: radial-gradient(rgb(226, 248, 203), rgb(161, 247, 119), rgb(69, 174, 17));
                    }
                }
                &.off {
                    filter: grayscale(100%);
                    transition: filter .7s;
                    pointer-events: none;
                }
            }
            .octave-shift {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                button{
                    cursor: pointer;
                    margin: 5px;
                    font-size: 14px;
                    width: 100px;
                    background-image: radial-gradient(rgb(152, 207, 255), rgb(105, 142, 253), rgb(38, 90, 194));
                    font-weight: bold;
                    &.off{
                        color: rgba(231, 231, 231, 0.952);
                        background-image: radial-gradient(rgb(56, 106, 206), rgb(38, 89, 191), rgb(28, 73, 162));
                        pointer-events: none;
                    }
                }
            }
        }
        .post-FX{
            width: 100%;
            // border: 1px solid white;
            height: 23vh;
            display: flex;
            font-size: small;
            padding: 10px;
            padding-right: 0px;
            // border: 1px solid salmon;
            padding-bottom: 5px;
            .eq3{
                display: flex;
                justify-content: space-evenly;
                width: 20%;
                height: 100%;
                label{
                    align-self: flex-end;
                    height: 100%;
                    max-width: 30px;
                }
                input{
                    height: 90%;
                }
                input[type="range"]{
                    &::-webkit-slider-runnable-track{
                        transform: rotate(-90deg);
                        background: rgba(187, 187, 187, 0.136);
                        border: 1px solid rgb(157, 157, 157);
                        box-shadow: inset 1px 1px 0 rgb(142, 142, 142);
                        position: relative;
                        left: -67px;
                        min-width: 150px;
                    }
                    &::-webkit-slider-thumb{
                        background-image: radial-gradient(rgb(226, 248, 203), rgb(161, 247, 119), rgb(69, 174, 17));
                    }
                }
                &.off {
                    filter: grayscale(100%);
                    transition: filter .7s;
                    pointer-events: none;
                }
                // border: 1px solid white;
            }
            .fx-bank{
                padding: 0px;
                // border: 1px solid white;
                margin-top: -7px;
                height: 100%;
                display: flex;
                font-size: 10px;
                input{
                    margin-left: 10px;
                }
                label input{
                    position: relative;
                    width: 170px;
                    top: 2px;
                }
                .module-label{
                    margin-bottom: 25px;
                }
                .invisible{
                    display: none;
                }
                .mods{
                    display: flex;
                    flex-direction: column;
                    width: 33.3%;
                    padding-bottom: 0px;
                    z-index: 10;
                    h4{
                        margin-bottom: 0px;
                    }
                    .chorus{
                        display: flex;
                        flex-direction: column;
                        height: 50%;
                        padding-bottom: 7px;
                        label{
                            margin-top: 5px;
                            display: flex;
                            justify-content: space-between;
                            input{
                                position: relative;
                                top: -4px;
                            }
                        }
                    }
                    .tremolo{
                        // border: 1px solid rgba(164, 164, 164, 0.299);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        background-color: transparent;
                        label{
                            display: flex;
                            justify-content: space-between;
                            input{
                                position: relative;
                                top: -3px;
                            }
                        }
                    }
                    .switch{
                        appearance: none;
                        box-shadow: inset 1px -1px 1px rgb(162, 105, 0);
                        background-image: radial-gradient(rgb(253, 215, 165), rgb(251, 185, 98), rgb(186, 106, 3));
                        width: 45px;
                        height: 20px;
                        margin: auto;
                        position: relative;
                        top: 6px;
                        margin-left: 10px;
                        cursor: pointer;
                        &.off{
                            background-image: radial-gradient(rgb(221, 127, 3), rgb(189, 108, 2), rgb(142, 81, 1));
                            pointer-events: none;
                        }
                    }
                    input[type="range"]{
                        &::-webkit-slider-runnable-track{
                            background: rgba(187, 187, 187, 0.129);
                            border: 1px solid rgb(157, 157, 157);
                            box-shadow: inset 1px 1px 0 rgb(142, 142, 142);
                        }
                        &::-webkit-slider-thumb{
                            // background: rgb(251, 162, 46);
                            background-image: radial-gradient(rgb(251, 220, 178), rgb(241, 192, 127), rgb(186, 106, 3));
                        }
                    }
                }
                .harmonics{
                    display: flex;
                    flex-direction: column;
                    // border: 1px solid rgb(122, 208, 255);
                    width: 250px;
                    select{
                        font-size: 10px;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                    .crush.visible{
                        display: flex;
                        flex-direction: column;
                    }
                    .switch{
                        appearance: none;
                        box-shadow: inset 1px -1px 1px rgba(0, 20, 56, 0.578);
                        background-image: radial-gradient(rgb(162, 211, 253), rgb(115, 150, 255), rgb(38, 90, 194));
                        width: 45px;
                        height: 20px;
                        margin: auto;
                        position: relative;
                        top: 6px;
                        margin-left: 10px;
                        cursor: pointer;
                        &.off{
                            background-image: radial-gradient(rgb(56, 106, 206), rgb(38, 89, 191), rgb(28, 73, 162));
                            pointer-events: none;
                        }
                    }
                    input[type="range"]{
                        &::-webkit-slider-runnable-track{
                            background: rgba(187, 187, 187, 0.129);
                            border: 1px solid rgb(157, 157, 157);
                            box-shadow: inset 1px 1px 0 rgb(142, 142, 142);
                        }
                        &::-webkit-slider-thumb{
                            background-image: radial-gradient(rgb(181, 220, 255), rgb(130, 161, 255), rgb(38, 90, 194));
                        }
                    }
                }
                .delays{
                    display: flex;
                    flex-direction: column;
                    // border: 1px solid rgb(122, 208, 255);
                    width: 33.3%;
                    select{
                        font-size: 10px;
                        margin-left: 25px;
                        cursor: pointer;
                    }
                    .delay-controls{
                        display: flex;
                        flex-direction: column;
                        // border: 1px solid blue;
                        height: 100%;
                        label{
                            display: flex;
                            padding-left: 10px;
                            padding-right: 5px;
                            justify-content: space-between;
                            align-content: center;
                            input[type="range"]{
                                position: relative;
                                top: -3px;
                                max-width: 160px;
                            }
                        }
                    }
                    .switch{
                        appearance: none;
                        box-shadow: inset 1px -1px 1px rgb(122, 11, 11);
                        background-image: radial-gradient(rgb(250, 182, 182), rgb(251, 127, 127), rgb(194, 32, 32));
                        width: 45px;
                        height: 20px;
                        margin: auto;
                        position: relative;
                        top: 6px;
                        left: 15px;
                        margin-left: 0px;
                        cursor: pointer;
                        &.off{
                            background-image: radial-gradient(rgb(204, 68, 68), rgb(186, 63, 63), rgb(148, 21, 21));;
                            pointer-events: none;
                        }
                    }
                }
                .off{
                    .delay, .LFO, .chorus-depth, .frequency, .trem-depth,
                    .delay-time, .feedback, .wet-dry, .distortion, .crusher-wet, .bit-depth{
                        filter: grayscale(100%);
                        transition: filter .7s;
                        pointer-events: none;
                    }
                }
                input[type="range"]{
                    &::-webkit-slider-runnable-track{
                        background: rgba(187, 187, 187, 0.129);
                        border: 1px solid rgb(157, 157, 157);
                        box-shadow: inset 1px 1px 0 rgb(142, 142, 142);
                    }
                    &::-webkit-slider-thumb{
                        background-image: radial-gradient(rgb(250, 182, 182), rgb(255, 130, 130), rgb(201, 52, 52));
                    }
                }
            }
        }
    }
    .keys-bar{
        width: 100%;
        display: flex;       
        ol{
            border-radius: 3px;
            margin-left: 15px;
            padding: 7px;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            height: 100px;
            background-color: rgb(62, 62, 62);
            z-index: 10;
            &.omni li{
                &.active{
                    background-image: radial-gradient(rgb(181, 220, 255), rgb(130, 161, 255), rgb(38, 90, 194));
                    box-shadow: inset -1px -1px 3px rgb(144, 143, 143);
                    transition: background-color .1s;
                }
            }
            &.am li{
                &.active{
                    background-image: radial-gradient(rgb(226, 248, 203), rgb(161, 247, 119), rgb(69, 174, 17));
                    box-shadow: inset -1px -1px 3px rgb(144, 143, 143);
                    transition: background-color .1s;
                }
            }
            &.fm li{
                &.active{
                    background-image: radial-gradient(rgb(251, 220, 178), rgb(241, 192, 127), rgb(186, 106, 3));
                    box-shadow: inset -1px -1px 3px rgb(144, 143, 143);
                    transition: background-color .1s;
                }
            }
            &.fat li{
                &.active{
                    background-image: radial-gradient(rgb(250, 182, 182), rgb(255, 130, 130), rgb(201, 52, 52));
                    box-shadow: inset -1px -1px 3px rgb(144, 143, 143);
                    transition: background-color .1s;
                }
            }
            li {
                box-shadow: inset 1px 1px 3px rgb(194, 194, 194);
                width: 50px;
                font-size: 18px;
                text-align: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                border-radius: 3px;
                flex-wrap: wrap;
                cursor: pointer;
                p{
                    font-size: 12px;
                    position: relative;
                    top: 60%;
                }
            }
        }
        .volume{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            top: -5.5vh;
            left: -2.5vw;
            width: 12vw;
            background-color: transparent;
            font-size: 10px;
            label{
                &.omni input{
                    &::-webkit-slider-thumb{
                        background-image: radial-gradient(rgb(208, 233, 255), rgb(130, 161, 255), rgb(38, 90, 194));
                    }     
                }
                &.am input{
                    &::-webkit-slider-thumb{
                        background-image: radial-gradient(rgb(226, 248, 203), rgb(161, 247, 119), rgb(69, 174, 17));
                    }     
                }
                &.fm input{
                    &::-webkit-slider-thumb{
                        background-image: radial-gradient(rgb(251, 220, 178), rgb(241, 192, 127), rgb(186, 106, 3));
                    }     
                }
                &.fat input{
                    &::-webkit-slider-thumb{
                        background-image: radial-gradient(rgb(250, 182, 182), rgb(255, 130, 130), rgb(201, 52, 52));
                    }     
                }
            }
            input[type="range"]{
                &::-webkit-slider-runnable-track{
                    transform: rotate(-90deg);
                    background: rgba(187, 187, 187, 0.136);
                    border: 1px solid rgb(157, 157, 157);
                    box-shadow: inset 1px 1px 0 rgb(142, 142, 142);
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    top: 5vh;
                    left: 0vw;
                    max-width: 10vh;
                }
            }
            &.off {
                filter: grayscale(100%);
                transition: filter .7s;
                pointer-events: none;
            }
        }
    }
}

.sample {
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    &.off {
        filter: grayscale(100%);
        transition: filter .7s;
        pointer-events: none;
    }
    audio {
        max-width: 175px;
    }
    .edit-btns {
        display: flex;
        button {
            cursor: pointer;
        }
    }

    .play-btn {
        cursor: pointer;
    }

    .start-record-btn {
        border: none;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        background-image: url(../images/start-rec.png);
        background-size: 50px 50px;
        cursor: pointer;
        background: radial-gradient(rgba(255, 210, 247, 0.562), rgb(255, 0, 208));
        // box-shadow: inset -1px -1px 3px rgb(144, 143, 143);
        transition: background-color .1s;
        text-align: center;
        .rec {
            // color: rgb(0, 195, 255);
            color: white;
            font-size: 15px;
            // text-align: center;
            font-weight: bold;
            background: none;
        }
    }
    .stop-record-btn {
        animation: glow 2s ease-in-out infinite alternate;
        border-radius: 100px;
        border: transparent;
        width: 50px;
        height: 50px;
        background-image: url(../images/stop-rec.png);
        background-size: 50px 50px;
        cursor: pointer;
        // background: radial-gradient(rgba(255, 210, 247, 0.082), rgba(255, 0, 208, 0.062));
        background: radial-gradient(rgba(255, 210, 247, 0.562), rgb(255, 0, 208));
        text-align: center;
        .square {
            position: relative;
            width: 21px;
            height: 21px;
            margin: auto;
            // background-color: rgba(0, 195, 255, 0.75);
            background-color: white;
            // margin: 10px;
            z-index: 1000;
        }
    }
    .save-download {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .save-btn {
        margin-right: 5px;
        cursor: pointer;
    }

    @keyframes glow {
        0% {
            box-shadow: 0 0 rgba(#ff00b3, 0.75);
            // border-radius: 100px;
        }
        100% {
            box-shadow: 0 1px 20px 30px transparent;
            // border-width: 2px;
            // border-radius: 100px;
        }
    }
}

.main-synth-box {
    // border: 10px solid blue;
    background: transparent;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cassette-outer{
    min-width: 300px;
    height: 160px;
    background-color: rgb(98, 97, 97);
    border-radius: 5px;
    .screws{
        // border: 1px solid red;
        height: 15px;
        background-color: transparent;
        position: relative;
        display: flex;
        justify-content: space-between;
        .screw{
            border: 1px solid rgb(76, 76, 76);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 3px;
            background-color: rgb(83, 82, 82);
        }
        &.top{
            top: 0px;
        }
        &.bottom{
            top: 25px;
        }
    }
    .cassette-label{
        position: relative;
        box-shadow: inset rgba(202, 202, 202, 0.707) -1px -1px 1px;
        border: 1px solid rgb(111, 111, 111);
        background-image: linear-gradient(rgb(250, 237, 219) 40%, rgb(255, 115, 0) 80%);
        padding: 0px;
        margin: 0px;
        top: 0px;
        left: 25px;
        height: 95px;
        border-radius: 5px;
        width: 250px;
        .cassette-inner{
            position: relative;
            border: 1px solid white;
            border-radius: 25px;
            top: 30px;
            width: 200px;
            left: 20px;
            height: 30px;
            display: flex;
            overflow-x: hidden;
            overflow-y: hidden;
            .spool{
                border: 2px solid orange;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                &.left{
                    position: relative;
                    top: -25px;
                    left: -15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.playing {
                        animation: spin 3s linear infinite;
                    }
                    .tooth{
                        position: absolute;
                        width: 80%;
                        height: 10px;
                        border-radius: 2px;
                        box-shadow: inset orange 15px 0 0 0, 
                            inset orange -15px 0 0 0;
                        &:nth-of-type(2) {
                            transform: rotate(90deg);
                        }
                    }
                }
                &.right{
                    position: relative;
                    top: -25px;
                    left: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.playing {
                        animation: spin 3s linear infinite;
                    }
                    .tooth{
                        position: absolute;
                        width: 80%;
                        height: 10px;
                        border-radius: 2px;
                        box-shadow: inset orange 15px 0 0 0, 
                            inset orange -15px 0 0 0;
                        &:nth-of-type(2) {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
    }
    .cassette-trapezoid{
        position: relative;
        top: 5px;
        left: 48px;
        clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
        height: 27px;
        width: 70%;
        border-radius: 3px;
        border: 1px solid rgb(111, 111, 111);
        background-color: rgba(69, 69, 69, 0.7);
    }
}

input[type="range"]{
    margin: 7px;
    -webkit-appearance: none;
    &:focus-visible{
        outline: transparent;
    }
    &::-webkit-slider-runnable-track{
        height: 10px;
        border-radius: 1px;
    }
    &::-webkit-slider-thumb{
        box-shadow: 1px 0px 0px #323232;
        border: 0px solid #000000;
        height: 17px;
        width: 10px;
        border-radius: 1px;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -4px;
    }
    // &::-moz-range-track{

    // }
}

#oscilloscope{
    border-radius: 50%;
    border: 2px solid rgb(72, 72, 72);
    position: relative;
    left: 4vw;
    top: 9vh;
    z-index: 10;
}