.logged-in-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* top: 0; */
    /* width: 100vw; */
    margin: 10px;
}

.logged-out-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color:rgb(94, 255, 180);
    font-style: italic;
    animation: flicker 3s infinite alternate;   
}

.home-link:hover {
    cursor: default;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
            -0.2rem -0.2rem 1rem rgb(255, 203, 242),
            0.2rem 0.2rem 1rem rgb(255, 203, 242),
            0 0 2rem rgb(255, 203, 242),
            0 0 4rem rgb(255, 203, 242),
            0 0 6rem rgb(255, 203, 242),
            0 0 8rem rgb(255, 203, 242),
            0 0 10rem rgb(255, 203, 242);
        box-shadow:
            0 0 .5rem rgb(255, 203, 242),
            inset 0 0 .5rem rgb(255, 203, 242),
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }
}

.session-buttons {
    display: flex;
}

.session-btn {
    display: flex;
    background: rgb(94, 255, 180);
    padding: 10px 12px;
    flex-direction: row;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    border: none;
    font-size: 15px;
}

.session-btn:hover {
    cursor: default;
}