@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

.logged-in-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.logged-out-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    color:rgb(0, 225, 255);
    animation: flicker 3s infinite alternate;   
    font-family: 'Neonderthaw', cursive;
}

.home-link:hover {
    cursor: default;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
            -0.2rem -0.2rem 1rem rgb(247, 0, 255),
            0.2rem 0.2rem 1rem rgb(247, 0, 255),
            0 0 2rem rgb(247, 0, 255),
            0 0 4rem rgb(247, 0, 255),
            0 0 6rem rgb(247, 0, 255),
            0 0 8rem rgb(247, 0, 255),
            0 0 10rem rgb(247, 0, 255);
        box-shadow:
            0 0 .5rem rgb(247, 0, 255),
            inset 0 0 .5rem rgb(247, 0, 255),
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }
}

.session-buttons {
    display: flex;
}

.session-btn {
    display: flex;
    background: rgb(0, 225, 255);
    padding: 9px 12px;
    flex-direction: row;
    text-align: center;
    border-radius: 5px;     /* per neon signs */
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    border: none;
    font-size: 15px;
}

.session-btn:hover {
    cursor: default;
    background: rgba(87, 235, 255, 0.884)
}